*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}
/* Variable declarations */
:root {
  --primaryColor: #101111;
  --backgroundColor: #f5f5f5;
  --primaryTextColor: grey;
  --buttonColor: rgb(179, 153, 6);
  --font-stack-header: "Montserrat", helvetica, arial, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow-x: hidden;
  text-align: center;
  font-size: 16px;
  background-color: var(--backgroundColor);
  color: var(--primaryTextColor);
}

a {
  color: var(--backgroundColor);
  text-decoration: none;
}
a:hover {
  color: var(--primaryTextColor);
  transform: scale(1.1);
}

.app {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

/*--------------------------------------------------------------
                  # NAVBAR
--------------------------------------------------------------*/
.navbar {
  width: 100vw;
  font-size: 1rem;
  text-shadow: 2px 2px 2px #000000;
  font-weight: 700;
  background-color: var(--primaryColor);
}
.active {
  border-radius: 0 0.7rem;
  box-shadow: 0 -2px 2px var(--buttonColor), 0 2px 2px var(--buttonColor);
}

/*--------------------------------------------------------------
                  # FOOTER
--------------------------------------------------------------*/
.footer {
  text-align: center;
  font-size: 0.9rem;
  text-shadow: 0px 0px 0px #000000;
  font-weight: 600;
  color: var(--primaryTextColor);
  background-color: var(--primaryColor);
}
.footer a {
  color: rgb(50, 50, 50);
  text-decoration: none;
}
.footer a:hover {
  color: var(--buttonColor);
  text-decoration: none;
  transition: all 0.4s;
}
.footerContent {
  width: 100%;
  margin-bottom: 2rem;
}
.footerContent > p {
  margin-bottom: 0;
}
.socials {
  /* width: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.socials > li {
  padding: 1rem;
  list-style: none;
  color: rgb(50, 50, 50);
  margin: 0.5rem;
  cursor: pointer;
  position: relative;
  border: 2px solid rgb(50, 50, 50);
  border-radius: 50%;
  background: var(--primaryColor);
  transition: all 0.4s;
}
.socials > li:hover {
  color: var(--buttonColor);
  border-color: linear-gradient(to left, var(--buttonColor), #ed6663);
  transform: scale(1.1);
}

/*--------------------------------------------------------------
                  # SCROLL TO TOP
--------------------------------------------------------------*/

.scrollTop {
  position: fixed;
  width: 100%;
  bottom: 20px;
  align-items: center;
  height: 20px;
  justify-content: left;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.6;
  margin-left: -50px;
  left: 50%;
}

.scrollTop:hover {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

/*--------------------------------------------------------------
                  # HOME
--------------------------------------------------------------*/
#home {
  min-height: 100vh;
  text-align: center;
}

/* Header/Logo Title */
.header {
  padding: 60px;
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../images/banner1.jpeg") no-repeat center fixed;
  background-size: cover;
  color: white;
  font-size: 30px;
  min-height: 45vh;
}
.header h1 {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 600;
  text-shadow: 2px 2px 2px grey;
}
.header h2 {
  font-size: 1.5rem;
}
.header p {
  margin-top: 1.5rem;
  font-size: 1rem;
}
/* Page Content */
.content {
  padding: 1rem;
}

#notifyToast {
  color: #fff;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 1rem;
  border: 1px solid var(--buttonColor);
  background-color: var(--primaryColor);
}

/*--------------------------------------------------------------
                  #     SUBSCRIPTION FORM
--------------------------------------------------------------*/

.fcf-body {
  margin: 0;
  font-size: 1rem;
  color: var(--primaryTextColor);
  padding: 0 10px;
  max-width: 100%;
}
.fcf-form-group {
  margin-bottom: 1rem;
}
.fcf-input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: center;
  width: 100%;
}
.fcf-form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--primaryTextColor);
  background-color: var(--backgroundColor);
  background-clip: padding-box;
  border: 1px solid #ced4da;
  outline: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.fcf-form-control:focus {
  border: 1px solid var(--primaryColor);
}
textarea.fcf-form-control {
  height: auto;
}

label.fcf-label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
#fcf-button {
  transition: 0.5s;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  font-size: 1rem;
  background-color: var(--primaryColor);
  text-align: center;
  cursor: pointer;
  color: white;
  border-radius: 0 0.7rem;
  box-shadow: 0 -2px 2px var(--buttonColor), 0 2px 2px var(--buttonColor);
}
#fcf-button:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
  color: var(--buttonColor);
}
.fcf-btn:focus,
.fcf-btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.formError {
  color: palevioletred;
  margin-top: 0.5rem;
}

/*--------------------------------------------------------------
                  #     ARTICLE CARDS
--------------------------------------------------------------*/

.movieCard {
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 800px;
  height: 100%;
  min-height: 300px;
  display: block;
  margin: 8vh auto;
  border-radius: 8px;
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  background-image: url(https://static1.squarespace.com/static/51b3dc8ee4b051b96ceb10de/t/58d86b3db3db2b57ce8f2986/1490578241899/?format=2500w);

  background-color: #dce1e5;
  color: #cfd6e1;
  line-height: 1.5;
  font-weight: 400;
  overflow-x: hidden;
}

.overlay {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: linear-gradient(
    to right,
    rgba(42, 159, 255, 0.2) 0%,
    rgba(33, 33, 32, 1) 60%,
    rgba(33, 33, 32, 1) 100%
  );
  background-blend-mode: multiply;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.cardContent {
  width: 100%;
  /* max-width:370px; */
  max-width: 400px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  float: right;
  padding-right: 1.2em;
  padding-bottom: 1em;
}
.cardTitle {
  color: #ffffff;
  margin: 0.2em;
  opacity: 0.75;
  text-align: center;
  font-family: var(--font-stack-header);
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 1;
  font-weight: 400;
}
.articleInfo {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.9em;
  color: var(--buttonColor);
  line-height: 1;
  font-weight: 800;
  text-shadow: #f5f5f5;
}
.articleDesc {
  font-weight: 300;
  opacity: 0.9;
  margin-bottom: 2em;
}

#btn {
  padding: 0.5rem 2rem;
  background-color: rgba(255, 255, 255, 0.4);
  color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 1000px) {
  .cardContent {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  .movieCard {
    width: 95%;
    max-width: 95%;
  }
}
@media screen and (max-width: 600px) {
  .movieCard {
    background-position: 50% 0%;
    background-size: cover;
    height: 400px;
  }
  .overlay {
    background: linear-gradient(
      to bottom,
      rgba(42, 159, 255, 0.2) 0%,
      rgba(33, 33, 32, 1) 60%,
      rgba(33, 33, 32, 1) 100%
    );
  }
  .cardContent {
    margin-top: 4.2em;
    width: 100%;
    float: inherit;
    max-width: 100%;
    padding: 0 1em 1em;
  }
}

.movieCard:hover {
  -ms-transform: scale(1.05); /* IE 9 */
  -webkit-transform: scale(1.05); /* Safari 3-8 */
  transform: scale(1.05);
  transition: 0.6s;
}



/*--------------------------------------------------------------
                  # ABOUT PAGE
--------------------------------------------------------------*/
#about {
  min-height: 82vh;
  text-align: center;
  color: var(--primaryTextColor);
}




/*--------------------------------------------------------------
                  # 404 PAGE
--------------------------------------------------------------*/
#page404 {
  min-height: 82vh;
  text-align: center;
  color: var(--primaryTextColor);
}